.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7af07;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.header.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 1rem 2rem;
}

.logo {
  width: 80px;
  height: 80px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 1.5rem;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-item a {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05), 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.nav-item a:hover {
  color: #fff;
  background-color: #333;
}


@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav-item {
    margin: 0.5rem 0;
  }
}
